<ng-container *ngIf="(city$ | async) as City; else loading">

    <h1>{{ City.cityName }}</h1>
    <div>{{ City.population }}</div>
    <div>{{ City.countryName }} </div>

  </ng-container>
  <ng-template #loading>Loading…</ng-template>
