<h1>{{actionType}} city</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">City Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="cityName">
    </div>
    <span class="text-danger ml-3" *ngIf="cityName.invalid && formDir.submitted">
      City is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Country Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="countryName">
    </div>
    <span class="text-danger ml-3" *ngIf="countryName.invalid && formDir.submitted">
      Country is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Population</label>
    <div class="col-md-12">
      <input class="form-control" type="number" formControlName="population">
    </div>
    <span class="text-danger ml-3" *ngIf="population.invalid && formDir.submitted">
      Population is required.
    </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Save</button>
    <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
  </div>
</form>