<h1>Cities</h1>

<p *ngIf="!(cities$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New post</a>
</p>

<table class="table table-sm table-hover" *ngIf="(cities$ | async)?.length>0">
  <thead>
    <tr>
      <th>Id</th>
      <th>City Name</th>
      <th>Population</th>
      <th>Country Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Cities of (cities$ | async)">
      <td>{{ Cities.cityID }}</td>
      <td><a [routerLink]="['/city/', Cities.cityID]">{{ Cities.cityName }}</a></td>
    
      <td>{{ Cities.population }}</td>
      <td>{{ Cities.countryName  }}</td>
      <td><a [routerLink]="['/city/edit/', Cities.cityID]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="deleteCity(Cities.cityID)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
